/**
 *
 *  @format
 *  main.css
 *  These are the final styles for the project.
 *  Author: Saddam Arbaa
 */

/***** Start variables ********/

:root {
	--main-color: #100f39;
	--secondary-color: #8483e0;
	--section-background: #f2f7fa;
	--white: #fff;
	--black: #000;
	--grey7: #777;
	--space16: 16px;
	--space20: 20px;
	--space25: 25px;
	--space30: 30px;
	--space40: 40px;
	--space50: 50px;
	--space60: 60px;
	--space70: 70px;
	--space80: 80px;
	--space90: 90px;
	--space100: 100px;
	--line-height-space: 1.7;
	--transition-duration: 0.3s;
}
/********** End variables **********/

/********** Start global rules **********/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Work Sans", sans-serif; /* Google Web Fonts */
}

.container {
	padding-left: var(--space16);
	padding-right: var(--space16);
	margin-left: auto;
	margin-right: auto;
}

/* Apply styles starting from Small devices (landscape phones, 576px ) and up to Medium devices (tablets, 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Apply styles starting from medium devices(tablets, 768px) and up to Large devices (desktops, 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.container {
		width: 750px;
	}
}

/* Apply styles starting from Large devices (desktops, 992px) and up to X-Large devices (large desktops, 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container {
		width: 970px;
	}
}

/* Apply styles starting from X-Large devices (large desktops, 1200px ) and up to XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/********** End global rules **********/

/********** Start Header Section **********/

/********** End Header Section **********/

/********** Start components **********/
/********** End components **********/
