:root {
	--section-background: #f2f7fa;
}

.login {
	background-color: var(--section-background);
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: var(--space20);
	padding-bottom: var(--space20);
	overflow: hidden;
	padding-bottom: var(--space20);
}

.login .container {
	width: 100vw;
	max-width: 30rem;
	padding: 1rem;
}

.login-inner-wraper {
	padding: var(--space25);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	width: 100%;
	background: var(--white);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.login-inner-wraper div:first-child {
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	padding: 0 10px;
	text-align: center;
	color: var(--drak33Grey);
}

.login-inner-wraper .user-name {
	margin-top: var(--space20);
}

.login-inner-wraper input#registered,
.login-inner-wraper input[type='text'],
.login-inner-wraper input[type='password'],
.login-inner-wraper input[type='email'] {
	width: 100%;
	color: var(--drak33Grey);
	padding: var(--space16);
}

.login-inner-wraper input {
	display: block;
	width: 100%;
	margin-bottom: var(--space20);
	color: #495057;
	background-color: #fff;
	font-weight: 400;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	font-weight: bold;
	max-height: 3rem;
}

.control input:hover,
.control input:focus,
.control input:active {
	outline: 0 !important;
	border-color: 1px solid rgb(220, 227, 232);
}

.login-inner-wraper input#registered {
	background-color: red;
	color: white;
	cursor: default;
	display: none;
	text-align: center;
}

.login-inner-wraper .buttons {
	display: grid;
}

.login-inner-wraper input[type='submit'],
.login-inner-wraper input[type='button'],
.login-inner-wraper input[type='reset'] {
	background-color: var(--green-400);
	color: var(--white);
	padding: 0.8rem;
	font-size: var(--space20);
	cursor: pointer;
	border: inherit;
}

.login-inner-wraper p {
	color: var(--green-400);
}

.login-inner-wraper p.forgot-password {
	margin-bottom: 1rem;
	display: none;
}

.login-inner-wraper .buttons p {
	text-align: center;
}

.login-inner-wraper p:hover {
	text-decoration: underline;
	cursor: pointer;
}
