/** @format */
:root {
	--section-background: #f2f7fa;
}

.login {
	background-color: var(--section-background);
	width: 100vw;
	min-height: 90vh;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: var(--space20);
	padding-bottom: var(--space20);
}

.login .login-wraper {
	background-color: var(--section-background);
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 400px;
	grid-template-rows: auto;
}

@media (max-width: 380px) {
	.login .login-wraper {
		grid-template-columns: 280px;
	}

	.container {
		width: 280px;
	}
}

.login-inner-wraper {
	border: 1px solid var(--drak33Grey);
	padding: var(--space25);
	color: var(--white);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.login-inner-wraper div:first-child {
	background-color: var(--drak33Grey);
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	padding: 10px;
}

.login-inner-wraper .user-name {
	margin-top: var(--space20);
}

.login-inner-wraper input#registered,
.login-inner-wraper input[type="text"],
.login-inner-wraper input[type="password"],
.login-inner-wraper input[type="email"] {
	width: 100%;
	color: var(--drak33Grey);
	padding: var(--space16);
}

.login-inner-wraper input {
	display: block;
	width: 100%;
	margin-bottom: var(--space20);
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	font-size: 1rem;
	font-weight: 400;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	font-weight: bold;
}

.login-inner-wraper input#registered {
	background-color: red;
	color: white;
	cursor: default;
	display: none;
}

.login-inner-wraper .buttons {
	display: grid;
}

.login-inner-wraper input[type="submit"],
.login-inner-wraper input[type="button"],
.login-inner-wraper input[type="reset"] {
	background-color: var(--drak33Grey);
	color: var(--white);
	padding: 16px;
	font-size: var(--space20);
	cursor: pointer;
}

.login-inner-wraper input[type="submit"]:hover,
.login-inner-wraper input[type="button"]:hover,
.login-inner-wraper input[type="reset"]:hover {
	background-color: var(--deepGreen);
}
