/*======  Overwrite Header Background  ======*/

.page__header .profile__image {
	background: none;
}

/*======  Start form  ======*/

.form-container {
	margin-bottom: 1em;
	font-size: 19px;
}

.form-container .post-title-container,
.post-content-container,
.post-button-container {
	margin: 1.2em 0;
}

.form-container .post-image-Container {
	margin: 0.5em 0;
}

.form-container input#form-post-title,
input#form-post-title-edit,
textarea#form-post-content,
textarea#form-post-content-edit {
	border: 1px solid #ced4da;
	padding: 12px;
	border-radius: 5px;
	color: #495057;
	width: 100%;
	max-width: 350px;
}

.form-container #form-post-content,
textarea#form-post-content-edit {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 300px;
	font-size: 19px;
}

.form-container #form-post-submit,
#form-post-rest {
	color: var(--drak3eGrey);
	border: 1px solid var(--drak3eGrey);
	padding: 10px 16px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-right: 1rem;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.form-container #form-post-submit:hover,
#form-post-rest:hover {
	color: var(--deepGreen);
	border: 2px solid var(--deepGreen);
}
