/**
 * Main Section
 *
 */

.page__header::before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

.navigation {
	margin-bottom: 1rem;
}

.navigation a {
	text-decoration: none;
	color: var(--drak3eGrey);
	border: 1px solid var(--drak3eGrey);
	padding: 10px 26px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.navigation a:hover {
	color: var(--deepGreen);
	border: 2px solid var(--deepGreen);
}

#individual__post--date {
	border-top: 1px solid var(--lightWhite);
	border-bottom: 1px solid var(--lightWhite);
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 16px;
	color: #adb5bd;
}

#individual__post--title {
	text-align: center;
	color: var(--drak33Grey);
	font-size: 1.5em;
	margin-top: 1em;
	font-weight: bold;
}

#individual__post--content {
	line-height: 1.6;
	color: #495057;
	padding-top: 24px;
	padding-left: 16px;
	padding-right: 16px;
}

#delete-post-container {
	margin: 2rem 0 !important;
}
