/** @format */

/* overwrite login.css */
.login .register-wraper {
	grid-template-rows: 600px !important;
	margin-top: 30px;
}

.login-inner-wraper label {
	margin-bottom: var(--space20);
	color: var(--deepGreen);
	margin-bottom: 10px !important;
	display: block;
}
